@font-face {
  font-family: "stratosskyeng";
  src: url(fonts/Web\ fonts/stratosskyengweb-regular.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 488px);
  padding-right: calc(50% - 488px);
}

.difficulties {
  min-height: 774px;
  background-color: #004980;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      padding-bottom: 48px;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      width: 208px;
      text-align: center;
      color: #004980;
    }

    &__button_start {
      border-radius: 12px;
      background: var(--salad-60, #7ac100);
      width: 246px;
      height: 48px;
      border: none;
      color: #fff;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      transition: all 0.3s;

      &:hover {
        background: #fff;
        color: #7ac100;
      }
    }
  }

  &-level {
    display: flex;
    column-gap: 24px;
    padding-bottom: 67px;

    &__button {
      border-radius: 12px;
      background: #fff;
      width: 98px;
      height: 98px;
      border: none;
      color: var(--blue-100, #0080c1);
      text-align: center;
      font-family: StratosSkyeng;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px; /* 112.5% */
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
    &-active {
      border-radius: 12px;
      background: #7ac100;
      width: 98px;
      height: 98px;
      border: none;
      color: var(--blue-100, #0080c1);
      text-align: center;
      font-family: StratosSkyeng;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px; /* 112.5% */
      transform: scale(1.05);
    }
  }
}
