@font-face {
  font-family: "stratosskyeng";
  src: url(fonts/Web\ fonts/stratosskyengweb-regular.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 488px);
  padding-right: calc(50% - 488px);
}

.difficulties {
  min-height: 774px;
  background-color: #004980;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-box {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      padding-bottom: 48px;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      width: 208px;
      text-align: center;
      color: #004980;
    }

    &__button_start,
    &__button_again {
      border-radius: 12px;
      background: var(--salad-60, #7ac100);
      width: 246px;
      height: 48px;
      border: none;
      color: #fff;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      transition: all 0.3s;

      &:hover {
        background: #fff;
        color: #7ac100;
      }

      &-again {
        margin-bottom: 12px;
      }
    }
  }

  &-level {
    display: flex;
    column-gap: 24px;
    padding-bottom: 67px;

    &__button {
      border-radius: 12px;
      background: #fff;
      width: 98px;
      height: 98px;
      border: none;
      color: var(--blue-100, #0080c1);
      text-align: center;
      font-family: StratosSkyeng;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px; /* 112.5% */
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
    &__button-active {
      border-radius: 12px;
      background-color: #7ac100;
      width: 98px;
      height: 98px;
      border: none;
      color: var(--blue-100, #0080c1);
      text-align: center;
      font-family: StratosSkyeng;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px; /* 112.5% */
      transform: scale(1.05);
    }
  }
}

.playing-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 35px;
  padding-top: 22px;
  height: 91px;
}

.timer {
  width: 155px;

  &__text {
    display: flex;
    flex-direction: row;
    padding-left: 39px;
    justify-content: space-between;

    &_min,
    &_sek {
      color: #fff;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }

  &__numbers {
    color: #fff;
    font-family: StratosSkyeng;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;

  &__shirt {
    grid-column: 1fr;
    width: 100%;
  }

  &__easy {
    grid-template-columns: repeat(4, 1fr);
  }

  &__medium {
    grid-template-columns: repeat(6, 1fr);
  }
}
